<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>MATCHA</title>
		<link rel='stylesheet' href='/stylesheets/landing.css' />
	</head>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script>
  	var socket = io();
	</script>
	<body>
		<div class="form">
			<img class="logo" src="./images/logo.png"></img>
			<form method="post">
				<input class="input" type="text" placeholder="username or email">
				<input class="input" type="password" placeholder="password">
				<input class="button-submit" type="submit" name="connexion" value="sign in">
				<div class="signup">Don't have an account? <a href="./signup">Sign up</a></div>
			</form>
		</div>
	</body>
</html>
