.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #d9edf7;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.container .text-muted {
    margin: 20px 0;
}

.navbar-default {
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.navbar-default .navbar-nav>.active>a {
  background-color: #bce8f1;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: #bce8f1;
}
